<!doctype html>
<html lang="pt-br">

    <head>
        <title>Title</title>
        <!-- Required meta tags -->
        <meta charset="utf-8">
        <meta name="viewport" content="width=device-width, initial-scale=1,
            shrink-to-fit=no">

        <!-- Bootstrap CSS v5.2.1 -->
        <link
            href="https://cdn.jsdelivr.net/npm/bootstrap@5.2.1/dist/css/bootstrap.min.css"
            rel="stylesheet"
            integrity="sha384-iYQeCzEYFbKjA/T2uDLTpkwGzCiq6soy8tYaI1GyVh/UjpbCx/TYkiZhlZB6+fzT"
            crossorigin="anonymous">

    </head>

    <body style="background-color: #1B1B25">
        <header>
            <nav class="navbar navbar-expand navbar-dark bg-dark">
                <div class="nav navbar-nav mx-auto">
                    <a class="nav-item nav-link active" target="_blank"
                        href="https://github.com/Lusqinha"
                        aria-current="page">Partido Comunista Chinês - YT
                        downloader
                        <span class="visually-hidden">(current)</span></a>
                </div>
            </nav>
        </header>
        <main style="margin-top: 15vh">
            <div>
                <h1 class="title text-center text-white">SEJA BEM-VINDO</h1>
                <center><img class="rounded-circle" width="35%" height="35%"
                        src="https://i.redd.it/kxsprblyby171.png"
                        alt="Fino Senores"></center>
            </div>

            <form class="mx-auto" action="/download" method="POST">
                <div class="m-3 mx-auto flex justify-content-center
                    flex-column">
                    <label for="pesquisa" class="form-label text-white">PESQUISA</label>
                    <input type="text"
                        class="form-control border-warning bg-dark text-white"
                        name="pesquisa"
                        id="pesquisa"
                        aria-describedby="helpId"
                        placeholder="link ou pesquisa">
                    <small id="helpId" class="form-text text-muted">Funciona
                        como
                        pesquisar no YouTube</small>
                    <button type="submit" class="d-block w-75 mx-auto my-3 btn
                        btn-dark
                        border-warning">BAIXAR</button>
                </div>

            </form>
        </main>
        <footer>
        </footer>
        <!-- Bootstrap JavaScript Libraries -->
        <script
            src="https://cdn.jsdelivr.net/npm/@popperjs/core@2.11.6/dist/umd/popper.min.js"
            integrity="sha384-oBqDVmMz9ATKxIep9tiCxS/Z9fNfEXiDAYTujMAeBAsjFuCZSmKbSSUnQlmh/jp3"
            crossorigin="anonymous">
        </script>

        <script
            src="https://cdn.jsdelivr.net/npm/bootstrap@5.2.1/dist/js/bootstrap.min.js"
            integrity="sha384-7VPbUDkoPSGFnVtYi0QogXtr74QeVeeIs99Qfg5YCF+TidwNdjvaKZX19NZ/e6oz"
            crossorigin="anonymous">
  </script>
    </body>

</html>